.App {
  
  color: white;
  background-image: url('https://c8.alamy.com/comp/PKNJA8/programming-code-and-global-network-with-technology-background-PKNJA8.jpg');
  text-align: center;
  
}
.nav-bar{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.body{
  color: white;
  text-align: center;
  background-color: rgb(0,0,255,.2);
}
.main p{
  display: inline-block;
}

a{
  color: white;
  padding: 10px;
}
.Footer{
  background-color: grey;
}
